@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");

/*Dispositivos móviles*/

/*Pagina Principal*/

.autoresInicio {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;
}

.autoresInicioImgDiv {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 50%;
  height: 100%;
}

.autoresInicioImg {
  width: 100%;
  max-width: 300px;
}

.autoresInicioContend {
  width: 60%;
  justify-content: center;
  text-align: justify;
  display: inline;
}

.autoresInicioTitle {
  font-size: 35px;
  font-weight: bold;
  color: var(--primary-color);
  font-family: "Noto Sans", "sans-serif";
  margin-top: 30px;
}

.autoresInicioText {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  max-width: 450px;
  margin: 20px auto;
  margin-bottom: 25px;
}

/* Fondo azul */

.onda {
  display: flex;
  flex-direction: column;
}

.ondaBody {
  background-color: var(--primary-color);
  color: var(--text-color-inverse);
}

.ondaImg {
  width: 100%;
  position: relative;
  top: 2px;
}

.ondaImgBot {
  transform: scaleY(-1);
  top: -2px;
}

/* Pagina información */

.fotoAutor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.fotoAutorImg {
  width: 50%;
  border-radius: 100%;
  border: 6px solid;
  border-color: var(--secondary-color);
}

.nombreAutor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.nombreAutorNombre {
  font-size: 30px;
  font-weight: bold;
  font-family: "Noto Sans", "sans-serif";
}

.infoAutor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  text-align: justify;
  letter-spacing: 1px;
}

.socialAutor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.icon {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: #1e71be9e;
  width: 50px;
  height: 50px;
  margin: 5px 25px 5px 25px;
  border-radius: 25%;
}

.iconImg {
  width: 50%;
  height: 50%;
  display: flex;
}

.autor {
  background-color: var(--primary-color);
  border-left: 1px solid;
  border-right: 1px solid;
}

.autor:hover {
  filter: brightness(110%);
  border-left: 2px solid;
  border-right: 2px solid;

  .fotoAutorImg {
    filter: brightness(90%);
  }
}

.icon:hover {
  filter: brightness(160%);
  .iconImg {
    width: 70%;
    height: 70%;
  }
}

.icon:active {
  filter: brightness(30%);
}

@media (min-width: 950px) {
  .autoresInicio {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 80px;
    padding-bottom: 100px;
  }

  .autoresInicioContend {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-bottom: 50px;
  }

  .autoresInicioTitle {
    font-size: 60px;
  }

  .autoresInicioText {
    font-size: 25px;
    margin: 0;
  }

  .autoresInfo {
    display: flex;
    margin: 0;
    justify-content: center;
  }

  .autor {
    max-width: 350px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    margin: auto 10px auto 10px;
  }

  .infoAutor {
    max-height: 400px;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .socialAutor {
    display: flex;
  }
}
